﻿@model PatientsDashboard.Models.LoginViewModel
@{
    Layout = "~/Views/Shared/UserLayout.cshtml";
    ViewBag.Title = "CheckUps Medical Centre | Login";
}


<div class="login-box">
    @* Logo goes here *@
    <div class="login-logo">
        <a><b>Patients</b>Portal</a>
    </div>
    <div class="login-box-body">
        <p class="login-box-msg">Sign in to to your account</p>
        @using (Html.BeginForm("Login", "Account", new { ViewBag.ReturnUrl }, FormMethod.Post, new { role = "form" }))
        {
            @Html.AntiForgeryToken()

            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="form-group has-feedback">
                @Html.TextBoxFor(m => m.Phone, new { placeholder = "Phone number", @class = "form-control" })
                @Html.ValidationMessageFor(m => m.Phone, "", new { @class = "text-danger" })
            </div>
            <div class="form-group has-feedback">
                @Html.PasswordFor(m => m.Password, new { placeholder = "Enter your Password", @class = "form-control" })
                @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
            </div>
            <div class="row">
                <div class="col-xs-8">
                    <div class="form-group has-feedback">
                        @Html.CheckBoxFor(m => m.RememberMe)
                        @Html.LabelFor(m => m.RememberMe)
                    </div>
                </div>
                <!-- /.col -->
                <div class="col-xs-4">
                    <button type="submit" class="btn btn-primary btn-block btn-flat">Log In</button>
                </div>
                <!-- /.col -->
            </div>
        }
        <hr />
        <p>
            @Html.ActionLink("Register for an Account", "Register")
        </p>

    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}