﻿@{
    ViewBag.Title = "CheckUps | Register Success";
    Layout = "~/Views/Shared/UserLayout.cshtml";
}

<div class="login-box">
    @* Logo goes here *@
    <div class="login-logo">
        <a><b>Patient</b>Portal</a>
    </div>
    <div class="box box-success">
        <div class="box-header with-border">
            <h3 class="box-title "><i class="fa fa-check-square-o"></i> Successfully Registered</h3>
        </div>
        <div class="box-body">
            <h5>Your Username is: @ViewBag.Username</h5>
            <h5>Your password is: @ViewBag.Password</h5>
            <h5>Please note down these details before proceeding to the Login Page</h5>
           
        </div>
        <div class="box-footer clearfix">
            @Html.ActionLink("Close", "Login", null, new { @class = "btn btn-sm btn-success btn-flat fa-pull-right" })
        </div>
    </div>
</div>





