﻿@model PatientsDashboard.Models.patient_portal_registration
@{
    Layout = "~/Views/Shared/UserLayout.cshtml";
    ViewBag.Title = "CheckUps Medical Centre | Register";
}
    
<div class="login-box">
    @* Logo goes here *@
    <div class="login-logo">
        <a><b>Patients</b>Portal</a>
    </div>
    <div class="login-box-body">
        <p class="login-box-msg">Register for an Account</p>
        @using (Html.BeginForm("Register", "Account", new { ViewBag.ReturnUrl }, FormMethod.Post, new { role = "form" }))
        {
            @Html.AntiForgeryToken()

            <div class="form-horizontal">

                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="form-group">
                    @Html.LabelFor(model => model.surname, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.surname, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.surname, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.other_names, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.other_names, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.other_names, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.phone, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.phone, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.phone, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.id_number, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.id_number, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.id_number, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.date_of_birth, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.date_of_birth, new { htmlAttributes = new { @class = "form-control", @required = "required", @type = "date" } })
                        @Html.ValidationMessageFor(model => model.date_of_birth, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.email, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.email, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.email, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.company, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        <div class="controls">
                            <select class="form-control" id="schemeDropDown" name="schemeDropDown">
                            </select>
                        </div>

                    </div>
                </div>



                <div class="form-group">
                    <div class="col-xs-4">
                        <button type="submit" class="btn btn-primary btn-block btn-flat">Register</button>
                    </div>
                </div>
            </div>
        }

        <div>
            @Html.ActionLink("Login Instead", "Login")
        </div>
    </div>
</div>



<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.5/jquery.min.js">
    //load companies
    $(document).ready(function () {
            AjaxCall('@Url.Action("getScheme","Assessments")', null).done(function (response) {
            if (response.length > 0) {
                $('#schemeDropDown').html('');
                var options = '';

                options += '<option value="" disabled selected>Select Company</option>';
                for (var i = 0; i < response.length; i++) {
                    options += '<option value="' + response[i].scheme_code + '">' + response[i].patient_payment_account_type_desc + '</option>';
                }
                $('#schemeDropDown').append(options);

                }
            }).fail(function (error)
            {
                alert(error.StatusText);
            });
    });

    function AjaxCall(url, data, type)
    {
        return $.ajax({
            url: url,
            type: type ? type : 'GET',
            data: data,
            async: true,
            contentType: 'application/json'
        });
    }

</script>


