﻿@using Microsoft.AspNet.Identity
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>@ViewBag.Title</title>
    <!-- Tell the browser to be responsive to screen width -->
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    @Styles.Render("~/Content/css")
    @Styles.Render("~/admin-lte/css")
    @Styles.Render("~/all-skins/css")
    @Styles.Render("~/bower_components/styles")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/modernizr")


    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
        <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    <!-- Google Font -->
    <link rel="stylesheet"
          href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,300italic,400italic,600italic">

    @RenderSection("Styles", false)
    
</head>
<!--
BODY TAG OPTIONS:
=================
Apply one or more of the following classes to get the
desired effect
|---------------------------------------------------------|
| SKINS         | skin-blue                               |
|               | skin-black                              |
|               | skin-purple                             |
|               | skin-yellow                             |
|               | skin-red                                |
|               | skin-green                              |
|---------------------------------------------------------|
|LAYOUT OPTIONS | fixed                                   |
|               | layout-boxed                            |
|               | layout-top-nav                          |
|               | sidebar-collapse                        |
|               | sidebar-mini                            |
|---------------------------------------------------------|
-->
<body class="fixed hold-transition skin-blue sidebar-mini">
    <div class="wrapper">
        <!-- Main Header -->
        <header class="main-header">
            <!-- Logo -->
            <a href="#" class="logo">
                <!-- mini logo for sidebar mini 50x50 pixels -->
                <span class="logo-mini"><b>CheckUps</b>DB</span>
                <!-- logo for regular state and mobile devices -->
                <span class="logo-lg"><b>Patients</b>Portal</span>
            </a>
            <!-- Header Navbar -->
            <nav class="navbar navbar-static-top" role="navigation">
                <!-- Sidebar toggle button-->
                <a href="#" class="sidebar-toggle" data-toggle="push-menu" role="button">
                    <span class="sr-only">Toggle navigation</span>
                </a>
              
                <!-- Navbar Right Menu -->
                <div class="navbar-custom-menu">
                    <ul class="nav navbar-nav">
                        <li class="dropdown user user-menu">
                            <!-- Menu Toggle Button -->
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                <!-- The user image in the navbar-->
                                <div class="profile-image"></div>
                                <!-- hidden-xs hides the username on small devices so only the image appears. -->
                                <span id="top-username" class="hidden-xs">@User.Identity.Name</span>
                            </a>
                            <ul class="dropdown-menu">

                                <!-- Menu Footer-->
                                <li class="user-footer">
                                    @if (Request.IsAuthenticated)
                                    {
                                        using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm" }))
                                        {
                                            @Html.AntiForgeryToken()

                                            <div class="pull-left">
                                                @Html.ActionLink("Medical History", "AssessmentsView", "Assessments", null, new { title = "Medical History", @class = "btn btn-default btn-flat" })
                                            </div>
                                                    <div class="pull-right">
                                                        <a href="javascript:document.getElementById('logoutForm').submit()" class="btn btn-default btn-flat">Log off</a>
                                                    </div>
                                        }
                                    }
                                </li>

                            </ul>
                        </li>
                        <!-- Control Sidebar Toggle Button -->
                        @*<li>
                                <a href="#" data-toggle="control-sidebar"><i class="fa fa-gears"></i></a>
                            </li>*@
                    </ul>
                </div>
            </nav>
        </header>
        <!-- Left side column. contains the logo and sidebar -->
        <aside class="main-sidebar">
            <!-- sidebar: style can be found in sidebar.less -->
            <section class="sidebar">

                <ul class="sidebar-menu" data-widget="tree">
                    @*<li class="header">HEADER</li>*@
                    <!-- Optionally, you can add icons to the links -->
                    @if (Request.IsAuthenticated)
                    {
                        <li>@Html.ActionLink("Patient Details", "PatientDetailsView", "PatientDetails")</li>
                        @*<li>@Html.ActionLink("Appointments", "", "", new { href = "javascript:void(0)" })</li>*@
                        <li>@Html.ActionLink("Visit Summary", "VisitSummaryView", "VisitSummary")</li>
                        <li>@Html.ActionLink("Vitals", "VitalsView", "Vitals")</li>
                        <li>@Html.ActionLink("Lab Results", "LabTestView", "LabTest")</li>
                        <li>@Html.ActionLink("Drugs", "PatientDrugsView", "Drugs")</li>
                        @*<li>@Html.ActionLink("Payments", "", "", new { href = "javascript:void(0)" })</li>*@
                                                
                    }

                </ul>
               
                <!-- /.sidebar-menu -->
            </section>
            <!-- /.sidebar -->
        </aside>
        <!-- Content Wrapper. Contains page content -->
        <div class="content-wrapper">
            <!-- Content Header (Page header) -->
           
            <!-- Main content -->
            <section class="content container-fluid">
                @RenderBody()
                <!--------------------------
                | Your Page Content Here |
                -------------------------->
            </section>
            <!-- /.content -->
        </div>
        <!-- /.content-wrapper -->
        <!-- Main Footer -->
        <footer class="main-footer">

            <!-- Default to the left -->
            <strong>Copyright &copy; @DateTime.Now.Year <a href="#">CheckUps Medical Center</a>.</strong> All rights reserved.
        </footer>
        <!-- Control Sidebar -->
        <aside class="control-sidebar control-sidebar-dark">
            <!-- Create the tabs -->
            <ul class="nav nav-tabs nav-justified control-sidebar-tabs">
                <li class="active">
                    <a href="#control-sidebar-home-tab" data-toggle="tab">
                        <i class="fa fa-home"></i>
                    </a>
                </li>
                <li>
                    <a href="#control-sidebar-settings-tab" data-toggle="tab">
                        <i class="fa fa-gears"></i>
                    </a>
                </li>
            </ul>

        </aside>
        <!-- /.control-sidebar -->
        <!-- Add the sidebar's background. This div must be placed
        immediately after the control sidebar -->
        <div class="control-sidebar-bg"></div>
    </div>
    <!-- ./wrapper -->
    <!-- REQUIRED JS SCRIPTS -->
    <!-- jQuery 3 -->
    @Scripts.Render("~/bower_components/jquery-ui")
    <!-- Bootstrap 3.3.7 -->
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bower_components/morris")
    @Scripts.Render("~/bower_components/jquery-sparkline")
    @Scripts.Render("~/admin-lte/plugins/jvectormap")
    @Scripts.Render("~/bower_components/jquery-knob")
    @Scripts.Render("~/bower_components/moment")
    @Scripts.Render("~/bower_components/bootstrap-daterangepicker")
    @Scripts.Render("~/bower_components/bootstrap-datepicker")
    @Scripts.Render("~/admin-lte/plugins/bootstrap-wysihtml5")
    @Scripts.Render("~/bower_components/jquery-slimscroll")
    @Scripts.Render("~/bower_components/fastclick")
    @Scripts.Render("~/admin-lte/js/pages")
    <!-- AdminLTE App -->
    @Scripts.Render("~/admin-lte/js")


    @RenderSection("scripts", false)

    <!-- Optionally, you can add Slimscroll and FastClick plugins.
    Both of these plugins are recommended to enhance the
    user experience. -->
    <script>
        $.widget.bridge('uibutton', $.ui.button);
        var firstLetter = $('#user-name').text().charAt(0).toUpperCase();
        $('div.profile-image').text(firstLetter);
        $('div.profile-image').css('display', 'inline');
    </script>
</body>
