﻿<!DOCTYPE html>
<!--
This is a starter template page. Use this page to start your new project from
scratch. This page gets rid of all links and provides the needed markup only.
-->
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>@ViewBag.Title</title>
    <!-- Tell the browser to be responsive to screen width -->
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    @Styles.Render("~/Content/css")
    @Styles.Render("~/admin-lte/css")
    @Scripts.Render("~/Scripts/modernizr")

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
        <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    <!-- Google Font -->
    <link rel="stylesheet"
          href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,300italic,400italic,600italic">
    @RenderSection("Styles", false)
</head>
<!--
BODY TAG OPTIONS:
=================
Apply one or more of the following classes to get the
desired effect
|---------------------------------------------------------|
| SKINS         | skin-blue                               |
|               | skin-black                              |
|               | skin-purple                             |
|               | skin-yellow                             |
|               | skin-red                                |
|               | skin-green                              |
|---------------------------------------------------------|
|LAYOUT OPTIONS | fixed                                   |
|               | layout-boxed                            |
|               | layout-top-nav                          |
|               | sidebar-collapse                        |
|               | sidebar-mini                            |
|---------------------------------------------------------|
-->
<body class="hold-transition login-page">
<!--------------------------
| Your Page Content Here |
-------------------------->
@RenderBody()
<!-- ./wrapper -->
<!-- REQUIRED JS SCRIPTS -->
<!-- jQuery 3 -->
@Scripts.Render("~/Scripts/jquery")

<!-- Bootstrap 3.3.7 -->
@Scripts.Render("~/Scripts/bootstrap")

@Scripts.Render("~/admin-lte/plugins/iCheck")

@RenderSection("scripts", false)
    <script>
    $(function() {
        $('input').iCheck({
            checkboxClass: 'icheckbox_square-blue',
            radioClass: 'iradio_square-blue',
            increaseArea: '20%' // optional
        });
    });
     //load companies
    $(document).ready(function () {
            AjaxCall('@Url.Action("getScheme","Assessments")', null).done(function (response) {
            if (response.length > 0) {
                $('#schemeDropDown').html('');
                var options = '';

                options += '<option value="" disabled selected>Select Company</option>';
                for (var i = 0; i < response.length; i++) {
                    options += '<option value="' + response[i].scheme_code + '">' + response[i].patient_payment_account_type_desc + '</option>';
                }
                $('#schemeDropDown').append(options);

                }
            }).fail(function (error)
            {
                alert(error.StatusText);
            });
    });

    function AjaxCall(url, data, type)
    {
        return $.ajax({
            url: url,
            type: type ? type : 'GET',
            data: data,
            async: true,
            contentType: 'application/json'
        });
    }
    </script>
</body>
</html>