﻿@model IEnumerable<PatientsDashboard.Models.PatientDrugs_Result>

<div class="box-body">

    <table class="table table-bordered">
        <tr>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th>
                Total: @ViewBag.Total
            </th>
            <th>
                Savings:@ViewBag.Savings
            </th>
            <th>
                % Savings: @ViewBag.PercentageSavings %
            </th>
        </tr>

        <tr>
            <th>
                @Html.DisplayNameFor(model => model.trans_date)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.center_product_description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.trans_quantity)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.unit_price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.vatvalue)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.total)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.regular_retail_price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.savings)
            </th>

        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.trans_date)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.center_product_description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.trans_quantity)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.unit_price)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.vatvalue)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.total)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.regular_retail_price)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.savings)
                </td>

            </tr>
        }

    </table>
</div>
