/*
 * Plugin: Full Calendar
 * ---------------------
 */
.fc-button {
    background: #f4f4f4;
    background-image: none;
    color: #444;
    border-color: #ddd;
    border-bottom-color: #ddd;
}

.fc-button:hover,
.fc-button:active,
.fc-button.hover { background-color: #e9e9e9; }

.fc-header-title h2 {
    font-size: 15px;
    line-height: 1.6em;
    color: #666;
    margin-left: 10px;
}

.fc-header-right { padding-right: 10px; }

.fc-header-left { padding-left: 10px; }

.fc-widget-header { background: #fafafa; }

.fc-grid {
    width: 100%;
    border: 0;
}

.fc-widget-header:first-of-type,
.fc-widget-content:first-of-type {
    border-left: 0;
    border-right: 0;
}

.fc-widget-header:last-of-type,
.fc-widget-content:last-of-type { border-right: 0; }

.fc-toolbar {
    padding: 10px;
    margin: 0;
}

.fc-day-number {
    font-size: 20px;
    font-weight: 300;
    padding-right: 10px;
}

.fc-color-picker {
    list-style: none;
    margin: 0;
    padding: 0;
}

.fc-color-picker > li {
    float: left;
    font-size: 30px;
    margin-right: 5px;
    line-height: 30px;
}

.fc-color-picker > li .fa {
    -webkit-transition: -webkit-transform linear 0.3s;
    -moz-transition: -moz-transform linear 0.3s;
    -o-transition: -o-transform linear 0.3s;
    transition: transform linear 0.3s;
}

.fc-color-picker > li .fa:hover {
    -webkit-transform: rotate(30deg);
    -ms-transform: rotate(30deg);
    -o-transform: rotate(30deg);
    transform: rotate(30deg);
}

#add-new-event {
    -webkit-transition: all linear 0.3s;
    -o-transition: all linear 0.3s;
    transition: all linear 0.3s;
}

.external-event {
    padding: 5px 10px;
    font-weight: bold;
    margin-bottom: 4px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
    border-radius: 3px;
    cursor: move;
}

.external-event:hover { box-shadow: inset 0 0 90px rgba(0, 0, 0, 0.2); }