﻿@model PatientsDashboard.ViewModels.AssessmentsViewModel
<div class="box box-primary">
    <div class="box-header with-border">
        <h3 class="box-title">Medical History</h3>
    </div>
    <div class="box-body">

        @using (Html.BeginForm("AssessmentsPost", "Assessments", new { ViewBag.ReturnUrl }, FormMethod.Post, new { role = "form" }))
        {
            @Html.AntiForgeryToken()

            <div class="form-horizontal">
               
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="col-md-6">
                    <div class="form-group">
                        @Html.LabelFor(model => model.LostWeightVal, htmlAttributes: new { @class = "control-label col-md-4" })
                        <div class="col-md-2">
                            <div class="checkbox">
                                @Html.EditorFor(model => model.LostWeightVal)
                                @Html.ValidationMessageFor(model => model.LostWeightVal, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.SevereHeadachesVal, htmlAttributes: new { @class = "control-label col-md-4" })
                        <div class="col-md-2">
                            <div class="checkbox">
                                @Html.EditorFor(model => model.SevereHeadachesVal)
                                @Html.ValidationMessageFor(model => model.SevereHeadachesVal, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        @Html.LabelFor(model => model.FaintingSpellsVal, htmlAttributes: new { @class = "control-label col-md-4" })
                        <div class="col-md-2">
                            <div class="checkbox">
                                @Html.EditorFor(model => model.FaintingSpellsVal)
                                @Html.ValidationMessageFor(model => model.FaintingSpellsVal, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.VisionProblemsVal, htmlAttributes: new { @class = "control-label col-md-4" })
                        <div class="col-md-2">
                            <div class="checkbox">
                                @Html.EditorFor(model => model.VisionProblemsVal)
                                @Html.ValidationMessageFor(model => model.VisionProblemsVal, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        @Html.LabelFor(model => model.ReducedHearingVal, htmlAttributes: new { @class = "control-label col-md-4" })
                        <div class="col-md-2">
                            <div class="checkbox">
                                @Html.EditorFor(model => model.ReducedHearingVal)
                                @Html.ValidationMessageFor(model => model.ReducedHearingVal, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.PersistentCoughVal, htmlAttributes: new { @class = "control-label col-md-4" })
                        <div class="col-md-2">
                            <div class="checkbox">
                                @Html.EditorFor(model => model.PersistentCoughVal)
                                @Html.ValidationMessageFor(model => model.PersistentCoughVal, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        @Html.LabelFor(model => model.ChestPainVal, htmlAttributes: new { @class = "control-label col-md-4" })
                        <div class="col-md-2">
                            <div class="checkbox">
                                @Html.EditorFor(model => model.ChestPainVal)
                                @Html.ValidationMessageFor(model => model.ChestPainVal, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.ShortnessBreathVal, htmlAttributes: new { @class = "control-label col-md-4" })
                        <div class="col-md-2">
                            <div class="checkbox">
                                @Html.EditorFor(model => model.ShortnessBreathVal)
                                @Html.ValidationMessageFor(model => model.ShortnessBreathVal, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        @Html.LabelFor(model => model.PainfulUrinationVal, htmlAttributes: new { @class = "control-label col-md-4" })
                        <div class="col-md-2">
                            <div class="checkbox">
                                @Html.EditorFor(model => model.PainfulUrinationVal)
                                @Html.ValidationMessageFor(model => model.PainfulUrinationVal, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.BloodyUrineVal, htmlAttributes: new { @class = "control-label col-md-4" })
                        <div class="col-md-2">
                            <div class="checkbox">
                                @Html.EditorFor(model => model.BloodyUrineVal)
                                @Html.ValidationMessageFor(model => model.BloodyUrineVal, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        @Html.LabelFor(model => model.NeckPainVal, htmlAttributes: new { @class = "control-label col-md-4" })
                        <div class="col-md-2">
                            <div class="checkbox">
                                @Html.EditorFor(model => model.NeckPainVal)
                                @Html.ValidationMessageFor(model => model.NeckPainVal, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.MuscleInjuriesVal, htmlAttributes: new { @class = "control-label col-md-4" })
                        <div class="col-md-2">
                            <div class="checkbox">
                                @Html.EditorFor(model => model.MuscleInjuriesVal)
                                @Html.ValidationMessageFor(model => model.MuscleInjuriesVal, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        @Html.LabelFor(model => model.PainfulJointsVal, htmlAttributes: new { @class = "control-label col-md-4" })
                        <div class="col-md-2">
                            <div class="checkbox">
                                @Html.EditorFor(model => model.PainfulJointsVal)
                                @Html.ValidationMessageFor(model => model.PainfulJointsVal, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.SkinProblemsVal, htmlAttributes: new { @class = "control-label col-md-4" })
                        <div class="col-md-2">
                            <div class="checkbox">
                                @Html.EditorFor(model => model.SkinProblemsVal)
                                @Html.ValidationMessageFor(model => model.SkinProblemsVal, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        @Html.LabelFor(model => model.Sores, htmlAttributes: new { @class = "control-label col-md-4" })
                        <div class="col-md-2">
                            <div class="checkbox">
                                @Html.EditorFor(model => model.Sores)
                                @Html.ValidationMessageFor(model => model.Sores, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.GynecologicVal, htmlAttributes: new { @class = "control-label col-md-4" })
                        <div class="col-md-2">
                            <div class="checkbox">
                                @Html.EditorFor(model => model.GynecologicVal)
                                @Html.ValidationMessageFor(model => model.GynecologicVal, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        @Html.LabelFor(model => model.DiabetesVal, htmlAttributes: new { @class = "control-label col-md-4" })
                        <div class="col-md-2">
                            <div class="checkbox">
                                @Html.EditorFor(model => model.DiabetesVal)
                                @Html.ValidationMessageFor(model => model.DiabetesVal, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.HypertensionVal, htmlAttributes: new { @class = "control-label col-md-4" })
                        <div class="col-md-2">
                            <div class="checkbox">
                                @Html.EditorFor(model => model.HypertensionVal)
                                @Html.ValidationMessageFor(model => model.HypertensionVal, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        @Html.LabelFor(model => model.Asthma, htmlAttributes: new { @class = "control-label col-md-4" })
                        <div class="col-md-2">
                            <div class="checkbox">
                                @Html.EditorFor(model => model.Asthma)
                                @Html.ValidationMessageFor(model => model.Asthma, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.Alcohol, htmlAttributes: new { @class = "control-label col-md-4" })
                        <div class="col-md-2">
                            <div class="checkbox">
                                @Html.EditorFor(model => model.Alcohol)
                                @Html.ValidationMessageFor(model => model.Alcohol, "", new { @class = "text-danger" })
                            </div>

                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        @Html.LabelFor(model => model.Tobacco, htmlAttributes: new { @class = "control-label col-md-4" })
                        <div class="col-md-2">
                            <div class="checkbox">
                                @Html.EditorFor(model => model.Tobacco)
                                @Html.ValidationMessageFor(model => model.Tobacco, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.Occupation, htmlAttributes: new { @class = "control-label col-md-4" })
                        <div class="col-md-2">
                            @Html.EditorFor(model => model.Occupation, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Occupation, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        @Html.LabelFor(model => model.JobLength, htmlAttributes: new { @class = "control-label col-md-4" })
                        <div class="col-md-2">
                            @Html.EditorFor(model => model.JobLength, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.JobLength, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.Hazards, htmlAttributes: new { @class = "control-label col-md-4" })
                        <div class="col-md-2">
                            @Html.EditorFor(model => model.Hazards, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Hazards, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        @Html.LabelFor(model => model.Other, htmlAttributes: new { @class = "control-label col-md-4" })
                        <div class="col-md-2">
                            @Html.EditorFor(model => model.Other, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Other, "", new { @class = "text-danger" })
                        </div>
                    </div>


                    <div class="form-group">
                        @Html.LabelFor(model => model.Medications, htmlAttributes: new { @class = "control-label col-md-4" })
                        <div class="col-md-2">
                            @Html.EditorFor(model => model.Medications, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Medications, "", new { @class = "text-danger" })
                        </div>
                    </div>

                </div>

                <div class="row">

                    <div class="col-xs-2">
                        @Html.ActionLink("Close", "PatientDetailsView", "PatientDetails", null, new { @class = "btn btn-primary btn-block btn-flat" })
                    </div>


                    <div class="col-xs-2">
                        <button type="submit" class="btn btn-primary btn-block btn-flat">Update Profile</button>
                    </div>



                </div>
            </div>

        }



    </div>
</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
