﻿@{
    ViewBag.Title = "CheckUps | User Profile";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="login-box">
    @* Logo goes here *@
    <div class="login-logo">
        @*<a><b>Patient</b>Portal</a>*@
    </div>
    <div class="box box-success">
        <div class="box-header with-border">
            <h3 class="box-title "><i class="fa fa-check-square-o"></i> Profile Updated</h3>
        </div>
        <div class="box-body">
            
            <h5>Your profile has been updated successfully.</h5>
           
        </div>
        <div class="box-footer clearfix">
            @Html.ActionLink("Close", "PatientDetails","PatientDetailsView", null, new { @class = "btn btn-sm btn-success btn-flat fa-pull-right" })
        </div>
    </div>
</div>





