﻿@model IEnumerable<PatientsDashboard.Models.PatientVitalsProc_Result>

@*<div class="box box-primary">
    <div class="box-header with-border">
        <h3 class="box-title">Vitals</h3>
    </div>
    </div>*@
    <div class="box-body">

        <table class="table table-bordered">

            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.cycle_created_time)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.RESPIRATORY)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.BP)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.HEIGHT)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.PWEIGHT)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.TEMP)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.PULSE)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.OXYGENSATURATION)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.BMI)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.BODYFAT)
                </th>

            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.cycle_created_time)
                    </td>

                    <td>
                        @Html.DisplayFor(modelItem => item.RESPIRATORY)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.BP)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.HEIGHT)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.PWEIGHT)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.TEMP)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.PULSE)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.OXYGENSATURATION)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.BMI)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.BODYFAT)
                    </td>

                </tr>


            }

        </table>
    </div>
