﻿@model IEnumerable<PatientsDashboard.Models.PatientDetails_Result>
@{
    ViewBag.Title = "CheckUps | Home";
}
<div class="box box-primary">
    <div class="box-header with-border">
        <h3 class="box-title">Patient Details</h3>
    </div>
    <div class="box-body">

        <table class="table table-bordered">
          
            @foreach (var item in Model)
            {
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.patient_facility_number)
                    </th>

                    <td>
                        @Html.DisplayFor(model => item.patient_facility_number)
                    </td>
                </tr>
                <tr>
                    <th>
                       @Html.DisplayNameFor(model => model.patient_name)
                    </th>

                    <td>
                        @Html.DisplayFor(model => item.patient_name)
                    </td>
                </tr>
                
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.gender)
                    </th>
                    <td>
                        @Html.DisplayFor(modelItem => item.gender)
                    </td>
                </tr>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.dob)
                    </th>
                    <td>
                        @Html.DisplayFor(modelItem => item.dob)
                    </td>
                </tr>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.patient_tel)
                    </th>
                    <td>
                        @Html.DisplayFor(modelItem => item.patient_tel)
                    </td>
                </tr>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.email)
                    </th>
                    <td>
                        @Html.DisplayFor(modelItem => item.email)
                    </td>
                </tr>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.citytown)
                    </th>
                    <td>
                        @Html.DisplayFor(modelItem => item.citytown)
                    </td>
                </tr>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.delivery_location)
                    </th>
                    <td>
                        @Html.DisplayFor(modelItem => item.delivery_location)
                    </td>
                </tr>

                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.patient_next_of_kin)
                    </th>
                    <td>
                        @Html.DisplayFor(modelItem => item.patient_next_of_kin)
                    </td>
                </tr>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.next_of_kin_relationship)
                    </th>
                    <td>
                        @Html.DisplayFor(modelItem => item.next_of_kin_relationship)
                    </td>
                </tr>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.kin_telephone)
                    </th>
                    <td>
                        @Html.DisplayFor(modelItem => item.kin_telephone)
                    </td>
                </tr>
                                 
            }

        </table>
    </div>
    @*@Html.ActionLink("Edit", "PatientEdit")*@
</div>