﻿@model  PatientsDashboard.ViewModels.LabNotesViewModel
<div class="box-body">
    @if (Model.PatientNotes.Any())
    {
        <p><b>Recommendations </b></p>
        <p>
            <textarea readonly="readonly" rows="10" cols="40">
@ViewBag.recommendations
</textarea>
        </p>

            @*<p>@Html.T(, 10, 40, new { @readonly = "readonly" })</p>*@
        
    }
    @if (Model.PatientLabs.Any())
    {


        <table class="table table-bordered" style="table-layout: fixed;">
            <tr>
                <th>DATE</th>
                <th>TEST</th>
                <th>RESULT</th>
                <th>VALUE</th>
                <th>REF</th>
                <th>STATUS</th>
            </tr>
            @foreach (var item in Model.PatientLabs)
            {

                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.cycle_created_time)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.TEST)
                    </td>

                    <td>
                        @Html.DisplayFor(modelItem => item.RESULT)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.VALUE)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.REF)
                    </td>
                    @if (item.STATUS == "HIGHER")
                    {
                        <td>

                            <font color="red">@Html.DisplayFor(modelItem => item.STATUS)</font>
                        </td>
                    }
                    else if (item.STATUS == "NORMAL")
                    {
                        <td>

                            <font color="green">@Html.DisplayFor(modelItem => item.STATUS)</font>
                        </td>
                    }
                    else
                    {
                        <td>

                            <font color="orange">@Html.DisplayFor(modelItem => item.STATUS)</font>
                        </td>
                    }


                </tr>
            }
        </table>
    }


</div>
