﻿@model  PatientsDashboard.ViewModels.VisitViewModel

<body class="hold-transition skin-blue sidebar-mini">


    <!-- Main content -->
    <section class="content">
        @if (Model.PatientVitals.Any())
        {
            <div class="row">
                <div class="col-md-12">
                    <div class="box">
                        <div class="box-header with-border">
                            <h3 class="box-title">Vitals</h3>
                            <div class="box-tools pull-right">
                                <button type="button" class="btn btn-box-tool" data-widget="collapse">
                                    <i class="fa fa-minus"></i>
                                </button>

                                <button type="button" class="btn btn-box-tool" data-widget="remove">
                                    <i class="fa fa-times"></i>
                                </button>
                            </div>
                        </div>
                        <!-- /.box-header -->
                        <div class="box-body">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="box-body">
                                        <div class="table-responsive">
                                            <table class="table no-margin">
                                                <thead>
                                                    <tr>
                                                        <th>Item</th>
                                                        <th>Value</th>
                                                        <th>Normal</th>
                                                    </tr>

                                                </thead>

                                                <tbody>

                                                    @foreach (var item in Model.PatientVitals)
                                                    {
                                                        <tr>
                                                            <th>Date</th>
                                                            <td>
                                                                @Html.DisplayFor(modelItem => item.cycle_created_time)
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <th>RR</th>
                                                            <td>
                                                                @Html.DisplayFor(modelItem => item.RESPIRATORY)
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <th>BP</th>
                                                            <td>
                                                                @Html.DisplayFor(modelItem => item.BP)
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <th>Pulse</th>
                                                            <td>
                                                                @Html.DisplayFor(modelItem => item.PULSE)
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <th>Oxygen Saturation</th>
                                                            <td>
                                                                @Html.DisplayFor(modelItem => item.OXYGENSATURATION)
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <th>Height</th>
                                                            <td>
                                                                @Html.DisplayFor(modelItem => item.HEIGHT)
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <th>Weight(kg)</th>
                                                            <td>
                                                                @Html.DisplayFor(modelItem => item.PWEIGHT)
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <th>Temp</th>
                                                            <td>
                                                                @Html.DisplayFor(modelItem => item.TEMP)
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <th>BMI</th>
                                                            <td>
                                                                @Html.DisplayFor(modelItem => item.BMI)
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <th>Body Fat</th>
                                                            <td>
                                                                @Html.DisplayFor(modelItem => item.BODYFAT)
                                                            </td>
                                                        </tr>

                                                    }
                                                </tbody>
                                            </table>
                                        </div>
                                        <!-- /.table-responsive -->
                                    </div>
                                    <!-- /.chart-responsive -->
                                </div>
                                <!-- /.col -->
                                @*<div class="col-md-4">

                                </div>*@
                                <!-- /.col -->

                            </div>
                            <!-- /.row -->
                        </div>
                        <!-- ./box-body -->
                        <div class="box-footer">

                            <!-- /.row -->
                        </div>
                        <!-- /.box-footer -->
                    </div>
                    <!-- /.box -->
                </div>

                <div class="col-md-12">
                    <div class="box">
                        <div class="box-header with-border">
                            <h3 class="box-title">Body Composition</h3>
                            <div class="box-tools pull-right">
                                <button type="button" class="btn btn-box-tool" data-widget="collapse">
                                    <i class="fa fa-minus"></i>
                                </button>

                                <button type="button" class="btn btn-box-tool" data-widget="remove">
                                    <i class="fa fa-times"></i>
                                </button>
                            </div>
                        </div>
                        <!-- /.box-header -->
                        <div class="box-body">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="box-body">
                                        <div class="table-responsive">
                                            <table class="table no-margin">
                                                <thead>
                                                    <tr>
                                                        <th>Item</th>
                                                        <th>Value</th>
                                                        <th>Normal</th>
                                                    </tr>

                                                </thead>
                                                <tbody>

                                                    @foreach (var item in Model.PatientVitals)
                                                    {
                                                        <tr>
                                                            <th>Date</th>
                                                            <td>
                                                                @Html.DisplayFor(modelItem => item.cycle_created_time)
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <th>Body Water</th>
                                                            <td>
                                                                @Html.DisplayFor(modelItem => item.BODYWATER)
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <th>Bone Density</th>
                                                            <td>
                                                                @Html.DisplayFor(modelItem => item.BONEDENSITY)
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <th>Fat Free</th>
                                                            <td>
                                                                @Html.DisplayFor(modelItem => item.FATFREE)
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <th>Metabolic Age</th>
                                                            <td>
                                                                @Html.DisplayFor(modelItem => item.METABOLICAGE)
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <th>Muscle Mass</th>
                                                            <td>
                                                                @Html.DisplayFor(modelItem => item.MUSCLEMASS)
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <th>Protein</th>
                                                            <td>
                                                                @Html.DisplayFor(modelItem => item.PROTEIN)
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <th>Skeletal Muscle</th>
                                                            <td>
                                                                @Html.DisplayFor(modelItem => item.SKELETALMUSCLE)
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <th>Subcutaneous Fat</th>
                                                            <td>
                                                                @Html.DisplayFor(modelItem => item.SUBCUTANEOUSFAT)
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <th>Visceral Fat</th>
                                                            <td>
                                                                @Html.DisplayFor(modelItem => item.VISCERALFAT)
                                                            </td>
                                                        </tr>




                                                    }
                                                </tbody>
                                            </table>
                                        </div>
                                        <!-- /.table-responsive -->
                                    </div>
                                    <!-- /.chart-responsive -->
                                </div>
                                <!-- /.col -->
                                @*<div class="col-md-4">

                                </div>*@
                                <!-- /.col -->

                            </div>
                            <!-- /.row -->
                        </div>
                        <!-- ./box-body -->
                        <div class="box-footer">

                            <!-- /.row -->
                        </div>
                        <!-- /.box-footer -->
                    </div>
                    <!-- /.box -->
                </div>
                <!-- /.col -->
            </div>

        }

        <!-- Info boxes -->
        <!-- /.row -->
        @if (Model.PatientSymptoms.Any())
        {
            <div class="row">
                <div class="col-md-12">
                    <div class="box">
                        <div class="box-header with-border">
                            <h3 class="box-title">Complaints</h3>
                            <div class="box-tools pull-right">
                                <button type="button" class="btn btn-box-tool" data-widget="collapse">
                                    <i class="fa fa-minus"></i>
                                </button>

                                <button type="button" class="btn btn-box-tool" data-widget="remove">
                                    <i class="fa fa-times"></i>
                                </button>
                            </div>
                        </div>
                        <!-- /.box-header -->
                        <div class="box-body">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="box-body">
                                        <div class="table-responsive">
                                            <table class="table no-margin">
                                                <thead>
                                                    <tr>
                                                        <th>Date</th>
                                                        <th>Symptom</th>
                                                        <th>Duration</th>
                                                        <th>Comments</th>
                                                    </tr>
                                                </thead>
                                                <tbody>

                                                    @foreach (var item in Model.PatientSymptoms)
                                                    {
                                                        <tr>
                                                            <td>
                                                                @Html.DisplayFor(modelItem => item.date)
                                                            </td>
                                                            <td>
                                                                @Html.DisplayFor(modelItem => item.patient_symptom_description)
                                                            </td>
                                                            <td>
                                                                @Html.DisplayFor(modelItem => item.duration)
                                                            </td>

                                                            <td>
                                                                @Html.DisplayFor(modelItem => item.comment)
                                                            </td>

                                                        </tr>
                                                    }
                                                </tbody>
                                            </table>
                                        </div>
                                        <!-- /.table-responsive -->
                                    </div>
                                    <!-- /.chart-responsive -->
                                </div>
                                <!-- /.col -->
                                @*<div class="col-md-4">

                                </div>*@
                                <!-- /.col -->

                            </div>
                            <!-- /.row -->
                        </div>
                        <!-- ./box-body -->
                        <div class="box-footer">

                            <!-- /.row -->
                        </div>
                        <!-- /.box-footer -->
                    </div>
                    <!-- /.box -->
                </div>
                <!-- /.col -->
            </div>
            <!-- /.row -->
            <!-- Main row -->
        }

        <!-- /.row -->
        @if (Model.PatientSigns.Any())
        {
            <div class="row">
                <div class="col-md-12">
                    <div class="box">
                        <div class="box-header with-border">
                            <h3 class="box-title">Physical Examination</h3>
                            <div class="box-tools pull-right">
                                <button type="button" class="btn btn-box-tool" data-widget="collapse">
                                    <i class="fa fa-minus"></i>
                                </button>

                                <button type="button" class="btn btn-box-tool" data-widget="remove">
                                    <i class="fa fa-times"></i>
                                </button>
                            </div>
                        </div>
                        <!-- /.box-header -->
                        <div class="box-body">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="box-body">
                                        <div class="table-responsive">
                                            <table class="table no-margin">
                                                <thead>
                                                    <tr>
                                                        <th>Date</th>
                                                        <th>Category</th>
                                                        <th>Observation</th>
                                                        <th>Comments</th>

                                                    </tr>
                                                </thead>
                                                <tbody>

                                                    @foreach (var item in Model.PatientSigns)
                                                    {
                                                        <tr>
                                                            <td>
                                                                @Html.DisplayFor(modelItem => item.date)
                                                            </td>
                                                            <td>
                                                                @Html.DisplayFor(modelItem => item.patient_sign_category_description)
                                                            </td>

                                                            <td>
                                                                @Html.DisplayFor(modelItem => item.patient_sign_description)
                                                            </td>
                                                            <td>
                                                                @Html.DisplayFor(modelItem => item.comment)
                                                            </td>

                                                        </tr>
                                                    }
                                                </tbody>
                                            </table>
                                        </div>
                                        <!-- /.table-responsive -->
                                    </div>
                                    <!-- /.chart-responsive -->
                                </div>
                                <!-- /.col -->
                                @*<div class="col-md-4">

                                </div>*@
                                <!-- /.col -->

                            </div>
                            <!-- /.row -->
                        </div>
                        <!-- ./box-body -->
                        <div class="box-footer">

                            <!-- /.row -->
                        </div>
                        <!-- /.box-footer -->
                    </div>
                    <!-- /.box -->
                </div>
                <!-- /.col -->
            </div>
        }

        <!-- /.row -->
        @if (Model.PatientDiagnosis.Any())
        {
            <div class="row">
                <div class="col-md-12">
                    <div class="box">
                        <div class="box-header with-border">
                            <h3 class="box-title">Diagnosis</h3>
                            <div class="box-tools pull-right">
                                <button type="button" class="btn btn-box-tool" data-widget="collapse">
                                    <i class="fa fa-minus"></i>
                                </button>

                                <button type="button" class="btn btn-box-tool" data-widget="remove">
                                    <i class="fa fa-times"></i>
                                </button>
                            </div>
                        </div>
                        <!-- /.box-header -->
                        <div class="box-body">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="box-body">
                                        <div class="table-responsive">
                                            <table class="table no-margin">
                                                <thead>
                                                    <tr>
                                                        <th>Date</th>
                                                        <th>ICD10 Code</th>
                                                        <th>Diagnosis</th>
                                                        <th>Comments</th>

                                                    </tr>
                                                </thead>
                                                <tbody>

                                                    @foreach (var item in Model.PatientDiagnosis)
                                                    {
                                                        <tr>

                                                            <td>
                                                                @Html.DisplayFor(modelItem => item.date)
                                                            </td>
                                                            <td>
                                                                @Html.DisplayFor(modelItem => item.disease_code)
                                                            </td>

                                                            <td>
                                                                @Html.DisplayFor(modelItem => item.sub_disease_description)
                                                            </td>

                                                            <td></td>

                                                        </tr>
                                                    }
                                                </tbody>
                                            </table>
                                        </div>
                                        <!-- /.table-responsive -->
                                    </div>
                                    <!-- /.chart-responsive -->
                                </div>


                            </div>
                            <!-- /.row -->
                        </div>
                        <!-- ./box-body -->
                        <div class="box-footer">

                            <!-- /.row -->
                        </div>
                        <!-- /.box-footer -->
                    </div>
                    <!-- /.box -->
                </div>
                <!-- /.col -->
            </div>
        }


        <!-- Info boxes -->
        <!-- /.row -->
        @if (Model.PatientTreatment.Any())
        {
            <div class="row">
                <div class="col-md-12">
                    <div class="box">
                        <div class="box-header with-border">
                            <h3 class="box-title">Treatment</h3>
                            <div class="box-tools pull-right">
                                <button type="button" class="btn btn-box-tool" data-widget="collapse">
                                    <i class="fa fa-minus"></i>
                                </button>

                                <button type="button" class="btn btn-box-tool" data-widget="remove">
                                    <i class="fa fa-times"></i>
                                </button>
                            </div>
                        </div>
                        <!-- /.box-header -->
                        <div class="box-body">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="box-body">
                                        <div class="table-responsive">
                                            <table class="table no-margin">
                                                <thead>
                                                    <tr>
                                                        <th>Date</th>
                                                        <th>Drug</th>
                                                        <th>Quantity</th>
                                                        <th>Price</th>
                                                        <th>Retail Price</th>
                                                        <th>VAT</th>
                                                        <th>Total</th>
                                                        <th>Savings</th>
                                                    </tr>
                                                </thead>
                                                <tbody>

                                                    @foreach (var item in Model.PatientTreatment)
                                                    {
                                                        <tr>
                                                            <td>
                                                                @Html.DisplayFor(modelItem => item.trans_date)
                                                            </td>
                                                            <td>
                                                                @Html.DisplayFor(modelItem => item.center_product_description)
                                                            </td>
                                                            <td>
                                                                @Html.DisplayFor(modelItem => item.trans_quantity)
                                                            </td>

                                                            <td>
                                                                @Html.DisplayFor(modelItem => item.unit_price)
                                                            </td>
                                                            <td>
                                                                @Html.DisplayFor(modelItem => item.regular_retail_price)
                                                            </td>
                                                            <td>
                                                                @Html.DisplayFor(modelItem => item.vatvalue)
                                                            </td>
                                                            <td>
                                                                @Html.DisplayFor(modelItem => item.total)
                                                            </td>
                                                            <td>
                                                                @Html.DisplayFor(modelItem => item.savings)
                                                            </td>

                                                        </tr>
                                                    }
                                                </tbody>
                                            </table>
                                        </div>
                                        <!-- /.table-responsive -->
                                    </div>
                                    <!-- /.chart-responsive -->
                                </div>
                                <!-- /.col -->
                                @*<div class="col-md-4">

                                </div>*@
                                <!-- /.col -->

                            </div>
                            <!-- /.row -->
                        </div>
                        <!-- ./box-body -->
                        <div class="box-footer">

                            <!-- /.row -->
                        </div>
                        <!-- /.box-footer -->
                    </div>
                    <!-- /.box -->
                </div>
                <!-- /.col -->
            </div>
        }

        <!-- /.row -->
        @if (Model.PatientNotes.Any())
        {
            <div class="row">
                <div class="col-md-12">
                    <div class="box">
                        <div class="box-header with-border">
                            <h3 class="box-title">Notes</h3>
                            <div class="box-tools pull-right">
                                <button type="button" class="btn btn-box-tool" data-widget="collapse">
                                    <i class="fa fa-minus"></i>
                                </button>

                                <button type="button" class="btn btn-box-tool" data-widget="remove">
                                    <i class="fa fa-times"></i>
                                </button>
                            </div>
                        </div>
                        <!-- /.box-header -->
                        <div class="box-body">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="box-body">
                                        <div class="table-responsive">
                                            <table class="table no-margin">
                                                <thead>
                                                    <tr>
                                                        <th>Date</th>
                                                        <th>Notes</th>

                                                    </tr>
                                                </thead>
                                                <tbody>

                                                    @foreach (var item in Model.PatientNotes)
                                                    {
                                                        <tr>

                                                            <td style="width:33%">
                                                                @Html.DisplayFor(modelItem => item.notes_date)
                                                            </td>
                                                            <td style="width: 67%">
                                                                @Html.DisplayFor(modelItem => item.notes_desc)
                                                            </td>


                                                        </tr>
                                                    }
                                                </tbody>
                                            </table>
                                        </div>
                                        <!-- /.table-responsive -->
                                    </div>
                                    <!-- /.chart-responsive -->
                                </div>


                            </div>
                            <!-- /.row -->
                        </div>
                        <!-- ./box-body -->
                        <div class="box-footer">

                            <!-- /.row -->
                        </div>
                        <!-- /.box-footer -->
                    </div>
                    <!-- /.box -->
                </div>
                <!-- /.col -->
            </div>
        }

    </section>
        <!-- /.content -->

    </body>

