﻿@model  PatientsDashboard.ViewModels.VisitViewModel
@if (Request.IsAuthenticated)
{
    ViewBag.Title = "CheckUps | Visit Summary";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="box box-primary">
    <div class="box-header with-border">
        <h3 class="box-title">Visit Summary</h3>
        @using (Ajax.BeginForm("VitalsView", "Vitals", new AjaxOptions { HttpMethod = "POST", UpdateTargetId = "#ajaxVitals" }))
        {
            @Html.AntiForgeryToken()
            <br />
            <select class="form-control" id="visitsDropDown">
            </select>

        }
    </div>
    <div id="ajaxVisitSummaries">

    </div>

</div>
@section Scripts
{
    <script type="text/javascript">

        $(function () {

            AjaxCall('@Url.Action("getVisits","Vitals")', null).done(function (response) {
                if (response.length > 0) {
                    $('#visitsDropDown').html('');
                    var options = '';
                    options += '<option value="" disabled selected>Select Visit Date</option>';
                    for (var i = 0; i < response.length; i++) {
                        options += '<option value="' + response[i].cycle_id + '">' + response[i].visitDate + '</option>';
                    }
                    $('#visitsDropDown').append(options);
                      //get the latest visit loaded on the view by default
                    $('#visitsDropDown option').each(function ()
                    {
                        var cycle = this.value;
                        var flag = true;
                        var obj = { cycle: cycle };
                        AjaxCall('@Url.Action("_VisitSummaries","VisitSummary")', JSON.stringify(obj), 'POST').done(function (data) {

                            if (data.length > 0) {
                                $('#ajaxVisitSummaries').html(data);
                                flag = false;
                                return false;
                            }
                           
                        });

                        return flag;

                    });

                }
            }).fail(function (error) {
                alert(error.StatusText);
            });

            $('#visitsDropDown').on("change", function () {

                var cycle = $('#visitsDropDown').val();
                var visitDate = $('#visitsDropDown option:selected').text();
                var obj = { cycle: cycle };
                AjaxCall('@Url.Action("_VisitSummaries","VisitSummary")', JSON.stringify(obj), 'POST').done(function (response) {
                    if (response.length > 0) {
                        $('#ajaxVisitSummaries').html(response);
                    }
                    else
                    {
                        alert('You did not have a visit on ' + visitDate);
                    }
                }).fail(function (error) {
                    alert(error.StatusText);
                });
            });

        });

        function AjaxCall(url, data, type) {
            return $.ajax({
                url: url,
                type: type ? type : 'GET',
                data: data,
                contentType: 'application/json'
            });
        }

    </script>
}
